fastapi==0.115.12
uvicorn[standard]==0.34.3
motor==3.7.0
pymongo==4.12.1
pydantic[email]==2.11.3
pydantic-settings==2.9.1
python-jose[cryptography]==3.4.0
passlib[bcrypt]==1.7.4
bcrypt==4.3.0
python-multipart==0.0.20
python-dotenv==1.1.0
pyotp==2.9.0
qrcode==7.4.2
firebase-admin==6.5.0
twilio==9.3.2
requests==2.32.3
reportlab==4.2.2
slowapi==0.1.9
locust
httpx
pandas
numpy
scikit-learn
joblib
